@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
*::before, ::after{
    padding: 0;
    margin: 0;
}
:root{
    --shadow: rgba(0,0,0,0.15);
    --lightblack: #777;
    --base: hsl(217, 64%, 11%);
    --gradtes: hsl(312, 100%, 70%);
    --smoke: #f5f5f5;
}
body{
    margin: 0;
    padding: 0;
    height: 100px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}
.banner video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.banner .content{
    position: relative;
    z-index: 1;
    max-width: 100px;
}
.wrapper{
    width: 380px;
    overflow: hidden;
    background: #f6f6f6f6;
    position: relative;
    border-radius: 15px;
    padding: 25px 30px;
    box-shadow: 0px 6px 15px var(--shadow);
}
.wrapper{
    cursor: pointer;
}
.top-bar, .progress-area .timer,
.controls, .music-list .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.top-bar i{
    font-size: 30px;
    color: var(--lightblack);
}
.top-bar span{
    font-size: 18px;
    color: var(--lightblack);
}
.img-area{
    height: 236px;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 6px 15px var(--shadow);
}
.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 10px 0px;
    margin: 30px 0;
    color: var(--lightblack);
}
.song-details .name{
    font-size: 21px;
}
.song-details .artist{
    opacity: 0.9;
    margin: 10px 0;
    line-height: 35px;
}
.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: var(--lightblack);
    cursor: pointer;
  }
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: var(--base);
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}
.progress-area .timer{
    margin-top: 2px;
}
.timer{
    font-size: 13px;
    color: var(--lightblack);
}
.controls{
    margin: 40px 0 5px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    border-radius: 50%;
    background: var(--base);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;
}
.controls #prev{
    margin-right: -13px;
}
.controls #next{
    margin-left: -13px;
}
.play-pause i{
    font-size: 28px;
    user-select: none;
    border-radius: 50%;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-pause::before{
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: #f0f0f0;
}
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: inherit;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    background: var(--base);
    box-shadow: 0px 0px 5px rgb(155, 76, 20);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music-list{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    padding: 15px 30px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    background: var(--smoke);
    transition: all 0.25s ease-out;
}
.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
}
.header .row i{
    cursor: default;
}
.header .row span{
    margin-left: 5px;
}
.header #close{
    font-size: 22px;
    color: var(--lightblack);
}
.music-list ul{
    margin: 10px 0px; 
    max-height: 260px;
    overflow-y: auto;
}
.music-list  ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li{
    cursor: pointer;
    list-style: none;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .row span{
    font-size: 17px;
}
.music-list ul li .row p{
    opacity: 0.9;
}
ul li .audio-duration{
    font-size: 16px;
}
ul li.playing{
    pointer-events: none;
    color: rgb(61, 34, 95);
}